use EXPTESTHistorical
--ALTER TABLE dbo.CC_ACCOUNT REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = Page)

ALTER TABLE  dbo.AgentsStateChanges REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MediaCallInfo REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.StreamSummary REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MsgAgentConnected REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MsgWrapUp REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MsgScriptCompleted REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MsgHangUp REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.LicensesInfo REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MediaData_VCS REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.CallData REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MsgCallHangUp REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MsgRing REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.Skills REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.CallQueueHistory REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.MsgCallArrival	 REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)
ALTER TABLE  dbo.CallQueueSkills REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = none)

